:root{
    --background-color: #20517f;
    --window-color: rgb(227, 198, 153);
    --symbol-color: #1a2930;
    --font-color: #1a2930;
}
body {
    background-color: var(--background-color);
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.top-box{
    display: flex;
    height: 245.5px;
    justify-content: center;
    align-items: center;
}
.mid-box{
    display: flex;
    height: 491px;
    justify-content: center;
    align-items: stretch;
}
.bot-box{
    display: flex;
    height: 245.5px;
    justify-content: center;
    align-items: flex-start;
}
.field {
    display: flex;
    font-size: 85px;
    font-family: 'Bubbler One', sans-serif;
    font-weight: 500;
    color: var(--font-color);
    width: 280px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.dummy{
    display: flex;
    flex-direction: row;
}
.main-block{
    display: flex;
    flex-direction: column;
    width: 525.2px;
    background-color: var(--window-color);
    border-radius: 4%;
    height: 75%;
    }
.top-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex: 3.5;
    height: 100%;
}
.break-window{
    flex: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    font-family: 'Bubbler One', sans-serif;
    font-weight: 700;
    font-size: 19px;
}
.session-window{
    flex: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    font-family: 'Bubbler One', sans-serif;
    font-weight: 700;
    font-size: 19px;
}
.break-title{
    font-family: 'Coda', cursive;
    font-weight: 100;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.break-time{
    font-size: 23px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.session-time{
    font-size: 23px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.session-minutes{
    justify-content: center;
    width: 60px;
    display: flex;
    flex-direction: row;
}
.status{
    flex: 2;
}
.dummy2{
    flex: 1.8;
}
.mid-field{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sign{
    font-size: 60px;
    color: white;
    height: 60px;
    cursor: pointer;
}
.bot-field{
    margin-top: 15px;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.font{
    font-size: 17px;
}
#minPlus{
    color: var(--symbol-color)
}
#minMinus{
    color: var(--symbol-color)
}
.ghost-button {
    background: var(--window-color);
    border: 2px solid black;
    font-size: 17px;
    padding: 7px 12px;
    font-weight: 400;
    margin: 6px 0;
    margin-right: 12px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Coda', cursive;
    min-width: 120px;
}
.title{
    font-family: 'Coda', cursive;
    font-size: 45px;
    color: whitesmoke;
}
.trademark{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: whitesmoke;
}
.name{
color: var(--window-color);
}
.status{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Coda', cursive;
    font-size: 35px;
}
.symbols{
    height: 80%;
}

